.idea
.git

**/.pytest_cache
**/__pycache__
**/.ipynb_checkpoints

**/cmake-build-*

OpenModelica/build
OpenModelica/FMUs/*
OpenModelica/models/*
OpenModelica/scripts/*
!OpenModelica/scripts/translateModelFMU.mos.template

paper/*

Reference-FMUs/*

c-api/Reference-FMUs